div {
  text-align: center;
}

.image {
	max-width: 250px;
	width: 25%;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em;
}

.subtitle{
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
}